/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #e0f7fa, #bbdefb);
  overflow: hidden;
  animation: gradientBackground 10s infinite alternate;
}

/* Background Animation */
@keyframes gradientBackground {
  0% {
    background: linear-gradient(to bottom, #e0f7fa, #bbdefb);
  }
  50% {
    background: linear-gradient(to bottom, #bbdefb, #e0f7fa);
  }
  100% {
    background: linear-gradient(to bottom, #e0f7fa, #bbdefb);
  }
}

.container {
  width: 90%;
  max-width: 500px;
  height: 80%;
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  -webkit-animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container h2 {
  text-align: center;
  color: #37474F;
  margin-bottom: 8px;
  font-size:1.8em;
  font-weight: bold;
}

.container img {
  max-width: 90%;
  max-height: 55%;
  margin-bottom: 5px;
  border-radius: 10px;
  object-fit: contain;
}

/* Text Styling */
.container p {
  font-size: 18px;
  color:  #37474F;
  margin-top: 10px;
  font-weight: bold;
}
/* Responsive Design */
/* Responsive Design */

/* For Tablets */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    max-width: 90%;
    height: 85%;
  }

  h2 {
    font-size: 1.6em;
  }

  p {
    font-size: 1.1em;
  }

  img {
    max-height: 50%;
  }
}

.container button {
  width: 180px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: #90CAF9;
  color: #37474F;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* border: 2px solid #37474F; */
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px auto 0; 
}

button:hover {
  /* border: 3px solid #90CAF9; */
  background: #90CAF9;
  color: #fafafb;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
}


/* For Mobile Devices */
@media (max-width: 480px) {
  .container {
    padding: 10px;
    max-width: 90%;
    height: 80%;
  }

  h2 {
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
  }

  img {
    max-width: 90%;
    max-height: 45%;
  }
    .container button {
    width: 150px;
    font-size: 14px;
  }
}
